/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* uppercase buttons */
button, strong {
    text-transform: uppercase;
}



/* APP BAR */

/*both bars*/
h1 {
    background-color: #3F51B5;
    color: white;

    height: 64px;
    font-weight: 500;
    padding: 24px 16px 20px 16px;

    box-sizing: border-box;
    font-size:20px;
    position: relative;
}



/* CHANNELS LIST */


ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;

    position: absolute;
    width: 100%;
    top: 64px; 
    bottom: 72px; 
    overflow-y: auto; /* scroll bar */
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* TAB BAR */

#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;
    position: fixed;

    bottom: 0px;
     /*tab bar buttons spread evenly*/
    display: flex;
    justify-content: space-evenly;

    width: 40%;
    height: 72px;
}

/*CHAT BAR */

#chat-bar {
    width: 60%;
    text-align: left;
    display: initial;
    position: fixed;
    left: 40%;  
}

#emojis {
    
    background-color:white;
    border: 1px solid black;

    /* size & alignment */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font and left-align text */
    text-align: left;
    font-size: 28px;

    /* scroll */
    overflow-y: auto;
}


#tab-bar button, #chat-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    width: 33%;
    height: 72px;
    padding: 16px;
    border: none;
}

#chat-bar button {
    width: auto;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;

    position: relative;
}


.message h3 {
    font-size: medium;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

/*LAYOUT*/

#channels {
    position:absolute;
    background-color: white;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 40%;
}
/*indentation of chatterapp headline*/
#channels h1 {
    padding-left: 72px;
}

#chat {
    position: absolute;
    height: 100%;
    left: 40%;
    width: 60%;
}
/* position of moocus image in app-bar*/
#moocus {
    position: absolute;
    left: 24px;
    bottom: 0px;
}
/* right arrows in channel area*/
li .channel-meta {
    vertical-align: middle;
    position: absolute;
    right: 16px;
}

#messages {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}
